USE [master]
GO
/****** Object:  Database [LevelUpDB]    Script Date: 6/15/2025 7:55:24 AM ******/
CREATE DATABASE [LevelUpDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LevelUpDB', FILENAME = N'G:\Projt SQL\SQL Server Express\MSSQL16.SQLEXPRESS\MSSQL\DATA\LevelUpDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LevelUpDB_log', FILENAME = N'G:\Projt SQL\SQL Server Express\MSSQL16.SQLEXPRESS\MSSQL\DATA\LevelUpDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LevelUpDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LevelUpDB]
GO
/****** Object:  User [XNShade]    Script Date: 6/15/2025 7:55:24 AM ******/
CREATE USER [XNShade] FOR LOGIN [XNShade] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [XNShade]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [XNShade]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 6/15/2025 7:55:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[GameName] [nvarchar](100) NOT NULL,
	[GameDescription] [nvarchar](max) NOT NULL,
	[GameImagePath] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ReleaseDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Games_GameName] UNIQUE NONCLUSTERED 
(
	[GameName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLibrary]    Script Date: 6/15/2025 7:55:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLibrary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[GameName] [nvarchar](100) NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/15/2025 7:55:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1001,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[Gender] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[UserType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [UserType]
GO
ALTER TABLE [dbo].[UserLibrary]  WITH CHECK ADD  CONSTRAINT [FK_UserLibrary_Games] FOREIGN KEY([GameName])
REFERENCES [dbo].[Games] ([GameName])
GO
ALTER TABLE [dbo].[UserLibrary] CHECK CONSTRAINT [FK_UserLibrary_Games]
GO
USE [master]
GO
